<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_findmyclass"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_findmyclass"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindMyClass">
        <activity android:name=".DenahGku1Activity" />
        <activity android:name=".DenahGku2Activity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".EntryActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>